li.done{
    text-decoration: line-through;
    color: green;
}

.list_dates{
    font-weight: bold;
    padding: 2%;
}

.finshedButton{
    margin-right:16px;
    margin-left: 16px;
}

.removeButton{
    margin-right:16px;
}